* {
    -fx-primary:  #F0F0F0;
    -fx-secondary: #FFFF;
    -fx-primarytext: #414141;
    -fx-secondarytext: #414141;

    -fx-maroon: -main-color;
    -fx-gold: -secondary-color;
    -fx-gold-accent: -secondary-color-accent;
}